# Bonus: Temperature Analysis I

In [37]:
import pandas as pd
from datetime import datetime as dt

In [38]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [41]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [42]:
# Set the date column as the DataFrame index
date_index= df.set_index('date')
date_index

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [81]:
from scipy import stats
from scipy.stats import sem

In [82]:
# Filter data for desired months

ave_temp_jun=date_index.iloc[date_index.index.month==6] 
ave_temp_jun

ave_temp_dec=date_index.iloc[date_index.index.month==12]
ave_temp_dec

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [83]:
# Identify the average temperature for June

tobs_june= ave_temp_jun['tobs'].mean()
tobs_june

74.94411764705882

In [84]:
# Identify the average temperature for December
tobs_dec= ave_temp_dec['tobs'].mean()
tobs_dec

71.04152933421226

In [92]:
# Create collections of temperature data
temp_june = []

for tob in ave_temp_dec[3]:
    temp_june.append.tob

KeyError: 3

In [ ]:
data_june=

In [86]:
# Run paired t-test
stats.ttest_ind(tobs_june, tobs_dec)

/Users/yazminrodriguez/opt/anaconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3621: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/Users/yazminrodriguez/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_methods.py:226: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

In [90]:
# calculate standard errors
se1, se2 = sem(tobs_june), sem(tobs_dec)
se1, se2

(nan, nan)

In [88]:
# standard error on the difference between the samples
sed = sqrt(se1**2.0 + se2**2.0)

NameError: name 'sqrt' is not defined

### Analysis